.card {
  padding: 15px 20px;
  font-size: 20px;
  color: #34495e;
  border: 1px solid #ecf0f1;
  border-radius: 8px;
  background-color: #f8f9fa;
  align-items: center;
}

.addTodo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .addTodo label {
    color: rgb(126, 129, 132);
    margin-bottom: 10px;
  }
  
  .addTodo input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 20px;
  }
  
  .buttonContainer button {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .buttonContainer .cancel{
    background-color: rgb(94, 88, 88);
    color: white;
  }
  .buttonContainer .addtask{
    background-color: #0914e2;
    color: white;
  }
  
  .buttonContainer .cancel:hover {
    background-color: #9fafaf;
  }
  
  .buttonContainer .addtask:hover {
    background-color: #007bff;
  }